h1{
    font-size: 24px;
    font-weight: 600;
    margin: 20px auto 20px auto;
}

.buttons-wrap{
    margin-top: 16px;
}
.subtitle{
    font-size: 14px;
    margin-bottom: 8px;
}
.title{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}
